# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# setuptools_scm
shppy/_version.py

# PyCharm
.idea/

# DLL
*.dll
*.dylib
*.so

.DS_Store

out/
_debug.ipynb
_debug.py